@tailwind base;
@tailwind components;
@tailwind utilities;

/* Proteksi konten dari WYSIWYG Editor agar tidak meluber di layar HP */
.ql-editor-content img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.ql-editor-content iframe {
    max-width: 100%;
}

.ql-editor-content table {
    max-width: 100%;
    overflow-x: auto;
    display: block;
}
